@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
body {
    background-color: black;
    color: gray;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding-top: 20px;
}

canvas {
    margin: 20px;
    border: 4px solid crimson;
}